@import '@fontsource/fira-mono';
@import '@fontsource-variable/syne';
@import '@fontsource-variable/public-sans';
@import '@fontsource-variable/montserrat';
@import '@fontsource-variable/roboto-serif';
@import '@fontsource-variable/inter';

:root {
	/* --font-body: 'Public Sans Variable', 'Arial', 'Segoe UI', Arial, -apple-system, BlinkMacSystemFont, */
	--font-body: 'Inter Variable', 'Arial', 'Segoe UI', -apple-system;
	--font-mono: 'Fira Mono', monospace;
	/* --font-roboto-serif: 'Roboto Serif'; */
	--color-body-background: #1c2324;
	--color-primary: #344c2f;
	--font-highlight: 'Inter Variable';
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	font-size: 12pt;
	/* color: var(--color-text); */
	/* font-size: clamp(0.875rem, 0.7188rem + 0.5vw, 1rem); */
}

body {
	margin: 0;
	background-color: var(--color-body-background);
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

h1,
h2,
h3 {
	font-family: var(--font-highlight);
	font-weight: bold;
}

.article-container {
	font-size: 1.1em;
	line-height: 1.5;
}

@media (max-width: 1024px) {
	:root {
		font-size: 12pt;
	}
}
